<!DOCTYPE html>
<html>
<head>
 
</head>
<body>

<h2>Welcome to Flatiron Open Orders</h2>

<h3>List of Orders:</h3> 
<ol>
    <li>100 Boxes of Pens</li>
    <li>1000 Boxes of Paper</li>
    <li>5000 Boxes of Paperclips</li>
</ol>

</body>
</html>